* {
    font-family: 'Assistant', sans-serif;
    overflow-x:hidden;
  }
  .message-bar:nth-of-type(odd) {
    background:grey;
    color:white;
  }
  .message-bar:nth-of-type(even) {
    background:black;
    color:white;
  }
  .message-bar {
    position:relative;
    padding:10px 15px;
    overflow:hidden;
  }
.mesage-bar.ping {
    backround:orange;
}
  #content {
    width:50%;
    border:solid 2px;
    border-radius:10px;
    overflow-x:hidden;
  }
  #box {
    text-align:left;
    max-height:650px;
  }
  #box::-webkit-scrollbar {
      width: 15px;
  }
   
  #box::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
   
  #box::-webkit-scrollbar-thumb {
    background-color: darkgrey;
  }
  #header {
    border-bottom:solid 2px;
    background: rgb(87,181,200);
    background: linear-gradient(131deg, rgba(87,181,200,1) 6%, rgba(25,106,122,1) 100%);
  }
  #input {
    padding:5px;
    width:50%;
    outline:none;
  }
  #input:focus {
    border:solid 3px lightblue;
  }
  button {
    cursor: pointer;
    outline:none;
    padding:5px 10px;
  }
  #sending {
    overflow: hidden;
    border-top:solid 2px;
    margin-top:5%;
    padding:20px 30px;
    background: rgb(87,181,200);
    background: linear-gradient(131deg, rgba(87,181,200,1) 6%, rgba(25,106,122,1) 100%);
  }
.uploaded {
    max-width:600px;
    max-height:400px;
}
.file {
  color: transparent;
}
.file::-webkit-file-upload-button {
  visibility: hidden;
}
.file::before {
  content: 'Select some files';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.file:hover::before {
  border-color: black;
}
.file:active {
  outline: 0;
}
.file:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}
.link {
    cursor:pointer;
    color:white;
    text-decoration:none;
}
.link:hover {
    text-decoration:underline;
}

